<div class="show_page">
<br>
<h1 class="show_title"><%= @talent.name %></h1>
<div class="show_info">
<h2><%= @talent.description %></h2>


<h2>Queens with This Talent</h2>

<ul class="index_ul">
    <% @talent.users.each do |quen| %>
    <h4><div class="show_list">
        <%= link_to quen.drag_name, user_path(quen) %>
    </div></h4>
    <% end %>
</ul>
<br>
<% if current_user.admin == 3 %>
    <button class="rounded_button_small"><%= link_to "Edit Talent", edit_talent_path(@talent) %></button>
    <br>
    <%= form_tag(talent_path(@talent), method: :delete) do %>
        <%= submit_tag "Delete Talent", class:"rounded_button_small" %>
    <% end %>
<% end %>
<br>
<button class="rounded_button_small"><%= link_to "Back to Talent Index", talents_path %></button>
</div>
</div>