<h1 class="pink_text">All Messages</h1>

<% @counter = 1 %>
<table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">#</th>
        <th scope="col">From</th>
        <th scope="col">Subject</th>
        <th scope="col">Body</th>
      </tr>
    </thead>
    <tbody>
        <% @messages.each do |msg| %>
        <tr>
            <th scope="row"><%= @counter %></th>
                <td><%= User.find_by(id: msg.sender_id).name %></td>
                <td><%= msg.subject %></td>
                <td><%= link_to msg.body, message_path(msg) %></td>
                <% @counter += 1 %>
        </tr>
        <% end %>
    </tbody>
  </table>
<br>
  <button class="rounded_button_small rounded"><%= link_to "New Message", new_message_path %></button>
<br>
  <button class="rounded_button bottom rounded"><%= link_to "Back to Profile Page", user_path(current_user) %></button>