<h1 class="pink_text">New Message</h1>

<% @possible_recipients = User.all %>
<% @possible_recipients -= [current_user] %>
<br>
<% if @message.errors.any? %>
    <% @message.errors.full_messages.each do |msg| %>
        <p class="error_message"><%= msg %>.</p><br>
    <% end %>
    <br>
<% end %>

<%= form_for @message do |h| %>
    <%= h.label :recipient_id, "Recipient: " %> <br>
    <%= h.collection_select :recipient_id, @possible_recipients, :id, :name %><br>
    <%= h.label :subject, "Subject: " %> <br>
    <%= h.text_field :subject %><br>
    <%= h.label :body, "Body: " %> <br>
    <%= h.text_area :body %><br>
    <br>
    <%= h.submit class:"rounded_button_small rounded" %>
<% end %>