<h1 style="text-align: center;">Login</h1>

<div>
<%= image_tag("roxxxyoncomputer.jpg", class:"login_box") %>
</div>
<br><br>
<div class="login_form">
<%= form_tag '/login' do %>
    <h4> <%= label_tag :username %>
    <%= text_field_tag :username %></h4>
   <h4><%= label_tag :password %>
    <%= password_field_tag :password %></h4>
    <button class="rounded_button">
         <%= submit_tag "Login" %>
    </button>
<% end %>
</div>
<br>
<button class="rounded_button rounded"><%= link_to "Not Yet a Queen??? Girl Make One", new_user_path %></button>