<h1>Edit House Form</h1>

<%= form_for @house do |h| %>
    <%= h.label :name %> <br>
    <%= h.text_field :name %><br>
    <br>
    <%= h.label :description %> <br>
    <%= h.text_area :description %><br>
    <%= h.label :user_ids, "Add Queens: " %> <br>
    <%= h.collection_check_boxes :user_ids, User.all, :id, :drag_name %> <br>
    <br>
    <%= h.submit class:"rounded_button_small" %>

<% end %>
<br>
<button class="rounded_button bottom"><%= link_to "Back to House Page", house_path(@house) %></button>