<h1>House of <%= @house.name %></h1>

<h4><%= @house.description %></h4>

<h2>Mother of the House: <%= @house.mother %></h2>

<h3>Members of House of <%= @house.name %> </h3>

<ul>
    <% @house.users.each do |queen| %>
    <li>
        <%= queen.drag_name %>
    </li>
    <% end %>
</ul>
