<h1>House of <%= @house.name %></h1>

<h4><%= @house.description %></h4>

<h2>Mother of the House: <%= @mother.drag_name %></h2>

<h3>Most Common Talent: <%= @house.common_talent %></h3>

<h3>Members of the House</h3>
<ul>
    <% @house.users.each do |queen| %>
    <li>
        <%= link_to queen.drag_name, user_path(queen) %>
    </li>
    <% end %>
</ul>
<% if @mother == current_user %>
<%= form_tag house_path(@house), method: :delete do %>
    <%= submit_tag "Delete House", class:"rounded_button_small" %>
<% end %>
<br>
<button class="rounded_button_small"><%= link_to "Edit House", edit_house_path(@house) %></button>
<% end %>
<br>
<button class="rounded_button bottom"><%= link_to "Back to Houses Page", houses_path %></button>