<h1 style="text-align: center;">Edit User</h1>
<br>
<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <p class="error_message"><%= msg %>.</p><br>
    <% end %>
    <br>
<% end %>

<%= form_for @user do |f| %>
    <div class="form-row">
      <div class="form-group col-md-6">
        <%= f.label :username %>
        <%= f.text_field :username, class:"form-control", placeholder:"Username" %>
      </div>
      <div class="form-group col-md-6">
        <%= f.label :password %>
        <%= f.password_field :password, class:"form-control", placeholder:"Password" %>
      </div>
    </div>
    <hr><br>
    <div class="form-row">
        <div class="form-group col-md-6">
            <%= f.label :name, "Full Name" %>
            <%= f.text_field :name, class:"form-control", placeholder:"Full Name" %>
        </div>
        <div class="form-group col-md-6">
            <%= f.label :drag_name, "Drag Name" %>
            <%= f.text_field :drag_name, class:"form-control", placeholder:"Drag Name" %>
        </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-4">
        <%= f.label :city_id, "City" %>
        <select class="form-control" id="city_id" name="city_id">
            <% City.all.each do |city| %>
                <option value="<%= city.id %>"><%= city.name %></option>
            <% end %>
        </select>
      </div>
    </div>
    <button type="submit" class="btn rounded_button">Update User</button>
<% end %>

