<h1>Edit Account</h1>

<%= form_for @user do |f| %>
    <%= f.label :name, "Full Name: " %><br>
    <%= f.text_field :name %><br>
    <%= f.label :drag_name, "Drag Name: " %><br>
    <%= f.text_field :drag_name %><br>
    <%= f.label :city_id, "City: " %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %><br>
    <%= f.label :talent_ids, "Talents: " %><br>
    <%= f.collection_check_boxes :talent_ids, Talent.all, :id, :name %><br><br>
    
    <div class="house_part">
        <%= f.fields_for :house do |h| %>
        <h2>Become the Mother of a New House</h2>
        <%= h.label :name, "House Name"%>
        <%= h.text_field :name %><br>
        <br>
        <%= h.label :description %>
        <%= h.text_area :description %>
        <% end %><br><br>
    </div>
    <%= f.submit %>

<% end %>
<br>
<div>
    <%= link_to "Back to #{@user.drag_name}'s Page", user_path(@user) %>
</div>