<h1>New User</h1>

<% if @user.errors.any? %>
    <% @user.errors.full_messages.each do |msg| %>
        <p class="error_message"><%= msg %>.</p><br>
    <% end %>
    <br>
<% end %>

<%= form_for @user do |f| %>
    <%= f.label :username %><br>
    <%= f.text_field :username %><br>
    <%= f.label :password %><br>
    <%= f.password_field :password %><br>
    <br>
    <%= f.label :name, "Full Name: " %><br>
    <%= f.text_field :name %><br>
    <%= f.label :drag_name, "Drag Name: " %><br>
    <%= f.text_field :drag_name %><br>
    <%= f.label :city_id, "City: " %><br>
    <%= f.collection_select :city_id, City.all, :id, :name %><br>
    <%= f.label :talent_ids, "Talents: " %><br>
    <%= f.collection_check_boxes :talent_ids, Talent.all, :id, :name %><br><br>
    <%= f.submit %>
<% end %>
<br>
<div>
    <%= link_to "Back to Users Page", users_path %>
</div>