<div class="show_page">
   <br>
   <div style="background-color: rgba(236, 158, 158, 0.788); text-align: center; color: white;">
      <br>
      <h1><%= @user.drag_name %></h1>
      <br><br>
   </div>
   <%= flash.notice %>
   <br>
   <div class="user_info first-column" style="color: white;">
      <div>
         <h2>Real Name: <%= @user.name %></h2>
      </div>
      <div class="user_city_link">
         <h2>Lives in: <%= link_to @user.city.name, city_path(@user.city) %></h2>
      </div>
      <div class="user_talent_links">
         <h2><%= @user.drag_name %>'s Talents: </h2>
         <% if @user.talents.any? %>
            <ul>
               <% @user.talents.each do |talent| %>
               <div><%= link_to talent.name, talent_path(talent) %></div>
               <% end %>
            </ul>
         <% else %>
            <% if current_user != @user %>
            <div>She doesn't have any.</div>
            <% else %>
            <h4><%= link_to "Create", new_talent_path %> or <%= link_to "choose", edit_user_path%> some talents</h4>
            <% end %>
         <% end %>
      </div>
   </div>
   <div class="user_info second-column" style="color:white;">
      <div>
         <h2>Bio: </h2>
         <p style="font-size: x-large;"><%= @user.bio %></p>
      </div>
   </div>
   </div>


<% if @user == current_user %>
   <nav class="navbar fixed-bottom navbar-light bg-light margins center">
      <a class="nav-link" href="/logout">Logout</a>
      <a class="nav-link" href="/inbox">Inbox</a>
      <a class="nav-link" href="/users/<%= @user.id %>/edit">Edit Account</a>
      <%= form_tag(user_path(@user), method: :delete) do %>
      <%= submit_tag "Delete Account", class:"pink_text_button bg-light" %>
      <% end %>
   </nav>
<% else %>
   <button class="rounded_button bottom center"><%= link_to "Message Her", new_message_path %></button>
<% end %>
