<h1><%= @user.drag_name %></h1>
<div>
    <p>Real Name: <%= @user.name %></p>
</div>
<div>
    <p>Lives in: <%= link_to @user.city.name, city_path(@user.city) %></p>
</div>
<div>
    <h3><%= @user.drag_name %>'s Talents: </h3>
    <% if @user.talents.any? %>
        <ul>
            <% @user.talents.each do |talent| %>
                <li><%= link_to talent.name, talent_path(talent) %></li>
            <% end %>
        </ul>
    <% else %>
        <p>She doesn't have any.</p>
    <% end %>
</div>
<%= form_tag(user_path(@user), method: :delete) do %>
    <%= submit_tag "Delete User" %>
<% end %>

<button><%= link_to "Edit This Account", edit_user_path(@user) %></button>
<button><%= link_to "Back to All Users", users_path %></button>