<h1>Make a New City</h1>

<%= form_for @city do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.submit %>
<% end %>
<br>
<button><%= link_to "Cities Page", cities_path %></button>