<br>
<h1 style="color: lightcoral; text-align: center;">Analytics</h1>
<hr>
<br>
<div class="analytics_columns">
    <h2 class="pink_text">Users</h2>
    <div>
        <li>Number of Users: <%= User.all.count %></li>
        <li>User with Most Talents: <%= link_to User.most_talented.drag_name, user_path(User.most_talented.id) %></li>
        <li>User with Longest Drag Name: <%= link_to User.longest_name.drag_name, user_path(User.longest_name.id) %></li>
        <li>Last User Created: <%= link_to User.last_created.drag_name, user_path(User.last_created.id) %></li>
        <li>Number of Users Without a Talent: <%= User.count_no_talents %></li>
    </div>

    <h2 class="pink_text">Talents</h2>
    <div>
        <li>Number of Talents: <%= Talent.all.count %></li>
        <li>Most Occuring Talent: <%= link_to Talent.most_users.name, talent_path(Talent.most_users.id) %></li>
    </div>
    <h2 class="pink_text">Houses</h2>
    <div>
        <li>Number of Houses: <%= House.all.count %></li>
        <% if House.all.count != 0 %>
            <li>Most Popular House: <%= link_to House.most_users.name, house_path(House.most_users.id) %></li>
            <li>Most Talented House: <%= link_to House.most_talented.name, house_path(House.most_talented.id) %></li>
        <% end %>
    </div>

    <h2 class="pink_text">Cities</h2>
    <div>
        <li>Number of Cities: <%= City.all.count %></li>
        <li>Most Populated City: <%= City.highest_pop %></li>
        <li>Least Populated City: <%= City.lowest_pop %></li>
    </div>
</div>
<br>
<br>
<button class="rounded_button margins"><%= link_to "Home Page", homepage_path %></button>