<!DOCTYPE html>
<html>
  <head>
    <title>Drag Yourself</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand logo_text" href="/home">
        <%= image_tag("drag_yourself_logo.png", class:"d-inline-block align-top logo", alt:"logo") %>
        Drag Yourself
      </a>
    </nav>
  <div class="header">
    <% if controller.controller_name != "sessions" %>
      <% if session[:user_id] %>
        <div>
          <h4 class="logged_in_text">Hey Kitty Girl, <%= User.find(session[:user_id]).drag_name %></h4>
          <h5 class="logged_in_text"><%= link_to "Logout",logout_path %></h5>
        </div>
      <% else %>
        <div>
          <h4 class="logged_in_text"><%= link_to "Login", login_path %></h4> 
        </div>
      <% end %>
    <% end %>

    <% if flash[:login_warning] %>
      <%= flash[:login_warning] %>
    <% end %>
  </div>
    
    <%= yield %>
  </body>
</html>
