<!DOCTYPE html>
<html>
  <head>
    <title>Drag Yourself</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class="header">
    <% if controller.controller_name != "sessions" %>

      <% if session[:user_id] %>
      <h4>Welcome back <%= User.find(session[:user_id]).drag_name %></h4>
      <h5><%= link_to "Logout",logout_path %></h5>
      <% else %>
      <%= link_to "Login", login_path %>
      <% end %>

    <% end %>

    <% if flash[:login_warning] %>
      <%= flash[:login_warning] %>
    <% end %>
    
    <%= yield %>
  </div>
  </body>
</html>
